.start-screen__wrapper {
  min-height: 70vh;
  position: relative;
  background: var(--bgGradient);
  backdrop-filter: blur(6.5px);
  border: 2px solid var(--primaryLight);
  border-radius: var(--borderRadiusLarge);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 0 20px;
  margin-bottom: 52px;
}

.start-screen__button {
  max-width: 284px;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 12px 30px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .start-screen__title {
    margin: 20px;
  }
}
