.start-screen__wrapper {
  min-height: 70vh;
  position: relative;
  background: var(--bgGradient);
  backdrop-filter: blur(6.5px);
  border: 2px solid var(--primaryLight);
  border-radius: var(--borderRadiusLarge);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.start-screen__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.start-screen__button {
  max-width: 284px;
  padding: 12px 30px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .start-screen__wrapper {
    padding: 8px;
  }

  .start-screen__title {
    font-size: 32px;
  }
}
