.card-item__wrapper {
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: var(--strokeHeight) solid var(--primaryLight);
  border-radius: var(--borderRadiusMedium);
  background-color: var(--primary);
  background-image: url(./../../../images/question-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-item__wrapper.card-item__wrapper--active {
  background-image: none;
  background-color: var(--white);
}

.card-item__img {
  max-width: 90%;
  height: 70%;
}

@media screen and (max-width: 1180px) {
  .card-item__wrapper {
    background-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .card-item__wrapper {
    background-size: 20px;
  }
}
