.card-item__wrapper {
  height: 115px;
  width: 115px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryColor);
  background-image: url(./../../../images/abbreviation.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-item__wrapper.card-item__wrapper--active {
  background-color: var(--gray);
  background-image: none;
}
