.button {
  border-radius: var(--borderRadiusMedium);
  background: var(--primaryGradientHorizontal);
  padding: 12px 17px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.button:focus-visible {
  outline: 2px solid var(--white);
  outline-offset: 4px;
}

.button:hover {
  animation: gradient-animation 3s linear 1;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 992px) {
  .button {
    font-size: 15px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    font-size: 11px;
    padding: 4px 8px;
  }
}
