.button {
  border-radius: var(--borderRadiusMedium);
  background: var(--primaryGradientHorizontal);
  padding: 12px 20px;
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.button:focus-visible {
  outline: 2px solid var(--white);
  outline-offset: 4px;
}

@media screen and (max-width: 992px) {
  .button {
    font-size: 15px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    font-size: 11px;
    padding: 4px 8px;
  }
}
