.status-bar__wrapper {
  height: 160px;
  max-width: 1440px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  border-radius: var(--borderRadiusLarge) var(--borderRadiusLarge) 0px 0px;
  border-top: 2px solid var(--primaryLight);
  border-right: 2px solid var(--primaryLight);
  border-left: 2px solid var(--primaryLight);
  background: var(--bgGradient);
  backdrop-filter: blur(6.5px);
}

.status-bar__stats {
  text-align: center;
  position: relative;
  flex-grow: 1;
}

.status-bar__attempts::before,
.status-bar__moves::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 2px;
  height: 87px;
  background: var(--primaryGradientVertical);
}

.status-bar__moves::before {
  left: 0;
  right: 100%;
}

.status-bar__score {
  font-family: "Barking at Stars";
  font-size: 52px;
}

.status-bar__text {
  font-size: 22px;
  padding: 0 12px;
}

.status-bar__logo-style {
  width: 175px;
  height: 58px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .status-bar__score {
    font-size: 44px;
  }

  .status-bar__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .status-bar__score {
    font-size: 32px;
  }

  .status-bar__text {
    font-size: 14px;
    padding: 0 4px;
  }

  .status-bar__logo-style {
    width: 81px;
    height: 38px;
  }
}
