.info-window__wrapper {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 100px;
  border-radius: 30px;
  background-color: var(--black);
  animation: appear 1.5s linear;
}

.info-window__wrapper::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 210px;
  height: 210px;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info-window__win.info-window__wrapper::before {
  /* Fallback */
  background-image: url(./../../images/crow-dynamic-color.png);

  /* Для Chrome и Safari */
  background-image: -webkit-image-set(
    url("./../../images/crow-dynamic-color.avif") type("image/avif") 1x,
    url("./../../images/crow-dynamic-color.webp") type("image/webp") 1x
  );

  /* Для Firefox */
  background-image: image-set(
    url("./../../images/crow-dynamic-color.avif") type("image/avif") 1x,
    url("./../../images/crow-dynamic-color.webp") type("image/webp") 1x
  );
}

.info-window__lose.info-window__wrapper::before {
  /* Fallback */
  background-image: url(./../../images//thumb-down-dynamic-color.png);

  /* Для Chrome и Safari */
  background-image: -webkit-image-set(
    url("./../../images//thumb-down-dynamic-color.avif") type("image/avif") 1x,
    url("./../../images//thumb-down-dynamic-color.webp") type("image/webp") 1x
  );

  /* Для Firefox */
  background-image: image-set(
    url("./../../images//thumb-down-dynamic-color.avif") type("image/avif") 1x,
    url("./../../images//thumb-down-dynamic-color.webp") type("image/webp") 1x
  );
}

.info_window__text {
  font-size: 32px;
  margin-bottom: 36px;
  text-align: center;
  line-height: 45px;
}

.info-window__button {
  font-size: 30px;
  width: 200px;
  height: 40px;
}

@media screen and (max-width: 992px) {
  .info-window__wrapper::before {
    width: 170px;
    height: 170px;
  }

  .info_window__text {
    font-size: 25px;
    line-height: 37px;
  }

  .info-window__button {
    font-size: 15px;
    width: 100px;
    height: 30px;
  }
  .info-window__wrapper {
    width: 50%;
    top: 65%;
  }
}

@media screen and (max-width: 576px) {
  .info_window__text {
    font-size: 18px;
    line-height: 33px;
  }

  .info-window__wrapper {
    width: 100%;
    height: 90vh;
    top: 50%;
    left: 50%;
  }

  .info-window__wrapper::before {
    top: 40%;
    left: 50%;
  }
}
