.progress__svg {
  filter: drop-shadow(0px 4px 7px rgb(0 0 0 / 0.2));
}

.progress__circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 5px;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: grow 1s linear forwards;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

@keyframes grow {
  100% {
    stroke-dashoffset: var(--circle-shift);
  }
}
