.levels-carousel__wrapper {
  max-width: 422px;
  height: 300px;
}

.levels-carousel__button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
  background-image: url("./../../images/Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: 37%;
  transform: translateY(-50%);
}

.levels-carousel__next-button {
  right: 0;
}

.levels-carousel__prev-button {
  transform: translateY(-50%) rotate(180deg);
}

.levels-carousel__content-wrapper {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.levels-carousel__card-wrapper {
  display: grid;
  gap: 10px;
  justify-content: center;
}

.levels-carousel__card {
  background-color: var(--primary);
  min-width: 30px;
  min-height: 30px;
}

.levels-carousel__level-title {
  font-family: "Barking at Stars";
  font-size: 52px;
}

/* override carousel styles */
.carousel-slider {
  height: 300px !important;
}
